@font-face {
	font-family: "Lexend Deca";
	src: url("fonts/lexend-deca.woff2") format("woff2-variations");
	font-weight: 100 900;
	font-display: swap;
}
@font-face {
	font-family: "League Spartan";
	src: url("fonts/league-spartan.woff2") format("woff2-variations");
	font-weight: 200 900;
	font-display: swap;
}
@font-face {
	font-family: "Outfit";
	src: url("fonts/outfit.woff2") format("woff2-variations");
	font-weight: 200 900;
	font-display: swap;
}

:root {
  --primary: #a993fd;
  --gti: #a6e4cd;
  --secondary: #fff;
}

::selection {
	color: var(--secondary);
	background-color: var(--primary);
}
html {
	scroll-behavior: smooth;
	scrollbar-width: auto;
	scrollbar-color: var(--primary) #cecece;
}
html::-webkit-scrollbar {
	width: 12px;
}
html::-webkit-scrollbar-track {
	background: #cecece;
}
html::-webkit-scrollbar-thumb {
	background-color: var(--primary);
	border-radius: 20px;
	border: 3px solid #cecece;
}
html::-webkit-scrollbar-thumb:hover {
	background-color: #009037;
}
body { 
	background-color: #fff;
	color: #000;
	font-family: "Outfit", sans-serif;
	text-align: center;
	text-rendering: optimizelegibility;
}
a {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "League Spartan", sans-serif;
	font-weight: 700;
}
.heading {
	background-color: #fff;
	color: #000;
	z-index: 1;
	position: sticky;
	top: 0;
	margin: 10px;
	padding: 10px;
}
.heading:hover, a .heading:focus {
	text-decoration: underline;
}
.heading:visited {
	color: #000;
}
footer {
	padding: 5px;
	margin: 5px;
	font-size: 18px;
}
.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
nav.main {
	position: absolute;
	right: 10px;
	top: 10px;
}
nav.back {
	position: absolute;
	left: 10px;
	top: 10px;
}
nav.page-menu {
	display: flex;
	flex-flow: row wrap;
	column-gap: 10px;
	justify-content: center;
}
nav.page-menu a {
	color: initial;
	border: 1px solid #aaa;
	border-radius: 5px;
	padding: 10px;
	width: 10px;
}
nav.page-menu a.disabled {
	color: #666;
}
header {
	width: calc(95% - 45px);
	margin: auto;
}
nav img {
	height: 30px;
}
article {
	background-color: #000;
	color: #fff;
	margin: 10px;
	border-radius: 10px;
}
a.card {
	background-color: inherit;
	color: inherit;
	border-radius: 10px;
	font-family: "Lexend Deca", sans-serif;
	display: block;
	padding: 10px;
	position: relative;
	transition: 0.25s;
	width: 220px;
	height: 93%;
}
a.card:hover, a.card:focus {
	transition: 0.25s;
	transform: scale(1.05);
}
header .logo {
	width: 80px;
	height: 80px;
}
input {
	font-family: "Lexend Deca", sans-serif;
}
.card .logo {
	width: 175px;
	height: 175px;
}
.card .pl {
	border-radius: 0.5em;
	width: 220px;
	height: 123.75px;
}
.ds {
	font-size: 17px;
	font-family: "Outfit", sans-serif;
	color: #d0d0d0;
	font-weight: 375;
	margin-top: 0.5em;
	margin-bottom: 0;
	line-height: 1.1em;
}
.ds:hover, .ds:focus {
	text-decoration: none;
}
.title {
	font-size: 1.1em;
	font-weight: 500;
	font-family: "Lexend Deca", sans-serif;
	margin-top: 0.25em;
	margin-bottom: 0;
}
.title:focus, .title:hover, .linK:hover, .link:focus {
	text-decoration: underline;
}
header img {
	width: 80px;
	height: 80px;
	border-radius: 80px;
}
.show {
	background: #fff;
	border-radius: 80%;
	width: 80%;
	color: #000;
}
.duration {
	background: #000;
	font-size: 0.9em;
	position: absolute;
	padding: 2px;
	border-bottom-right-radius: 6px;
}
.new {
	background: #094e8c;
	position: absolute;
	width: 40px;
	border-radius: 35px;
	top: -0.6em;
	right: -0.6em;
	padding: 5px;
}
.rating {
	background: inherit;
	position: absolute;
	border-radius: 20px;
	top: -0.6em;
	right: -0.6em;
	padding: 4px;
	border: 1px white solid;
}
.age {
	font-size: 0.7em;
}
.about {
	text-align: left;
	padding: 5px;
	width: 60%;
	margin: auto;
}
.nomatch {
	display: none !important;
}
.description {
	font-size: 18px;
	font-family: "Outfit", sans-serif;
}
.card-img {
	width: 175px;
}
footer img {
	width: 26px;
}
#vid-container {
	height: 32em;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
#player {
	height: 100%;
}
.search {
	background: var(--gti);
	display: inline-block;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
}
.nav {
	width: 30px;
	height: 30px;
	transition: 0.25s;
}
.nav:focus, .nav:hover {
	transition: 0.25s;
	transform: scale(1.5);
}
