<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=yes">
		<meta name="description" content="Watch live PBS Kids on moppet. moppet is an alternative frontend for PBS Kids.">
		<meta name="theme-color" content="#a993fd">
		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="stylesheet" href="/assets/js/lib/video-js.min.css">
		<link rel="stylesheet" href="/assets/css/videojs-style.css">
		<link rel="manifest" href="/assets/manifest.json">
		<link rel="icon" href="/assets/img/logo.svg">
		<link rel="apple-touch-icon" href="/assets/img/logos/logo192.png">
		<title>Live TV - moppet</title>
		<script src="/assets/js/main.js"></script>
		<script src="/assets/js/lib/video.min.js"></script>
		<script src="/assets/js/lib/videojs-contrib-quality-levels.min.js"></script>
		<script src="/assets/js/lib/videojs-hls-quality-selector.min.js"></script>
		<script src="/assets/js/lib/videojs.hotkeys.min.js"></script>
	</head>
	<body>
		<header>
			<h1>Live TV</h1>
		</header>
		<nav class="back">
			<a href="/#livestream" id="back" title="Home"><img class="nav" alt="Home" src="/assets/img/home.svg"></a>
		</nav>
		<main id="vid-container">
			<video id="player" class="video-js vjs-big-play-centered vjs-theme-fantasy" poster="{{ ProxyImage "https://image.pbs.org/video-assets/9uVdZwz-asset-kids-mezzanine1-16x9-9N4nEbO.jpg" "q90" }}" controls>
				<source src="{{ . }}" type="application/x-mpegurl">
			</video>
			<p class="description">Stream live TV from PBS Kids. <noscript>If <a class="link" href="https://developer.mozilla.org/en-US/docs/Web/Guide/Audio_and_video_delivery/Live_streaming_web_audio_and_video#streaming_file_format_support">HLS is not natively supported by your browser</a>, you may need to enable JavaScript.</noscript>
			</p>
		</main>
		<script src="/assets/js/videojs-settings.js"></script>
	</body>
</html>
